In [1]:
# Importing essential libraries
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings("ignore")

In [2]:
# lodaing the dataset in our workplace
customer_df = pd.read_csv(r"C:\Users\MALCOM_TREVOR\Desktop\DATA SCIENCE\MY PROJECT\data preprocessing _and_cleaning\customer-on-promotion\raw data\my_dataset_customer_on_promotion.csv",index_col = 'CustomerId')

## Data Inspection

In [4]:
# checking the number of rows and columns in our dataset
customer_df.shape

(20, 13)

In [5]:
# Viewing the first 5 rows
customer_df.head()

,First name,surname,age,Gender,Phone number,address,email address,Date,Payment method,Product name,Quantity,Price,Do not contact
CustomerId,,,,,,,,,,,,,
1001,TREVOR,%MAHUBHANA_,23,male,0783640734',"54 CHAMIMUKA STR,MBARE,HARARE",trevormahubhana@gmail.com,5/6/2024,cash,Laptop,2,800,TRUE
1002,TERRENCE,#MAHUBHANA,19,mile,0713933587',"76 MASOTCHA STR,WATERFALL,HARARE",terrencemahubhana@yahoo.com,12/6/2024,ecocash,Phone,3,500,FALSE
1003,TRANOS,__MAHUBHANA!,17,M,0737816392',2031 3TH AVENUE,tranosmahubhana@gmail.com,19-06-2024,swipe,Tablet,1,300,T
1004,TRACY,$$MAHUBHANA,38,female,0736528179',"4512 Mushongandebvu,Mbare,Harare",tracymahubhana@gmail.com,26-05-2024,swipe,Book,5,20,F
1005,LUKE,123MAHUBHANA&,41,mile,NaN,"34 TONGOGARA STR,MT PLEASANT",lukemahubhana@gmail.com,5/6/2024,ecocash,Play station,2,40,TRUE

In [6]:
# Viewing the bottom 5 rows
customer_df.tail()

,First name,surname,age,Gender,Phone number,address,email address,Date,Payment method,Product name,Quantity,Price,Do not contact
CustomerId,,,,,,,,,,,,,
1016,GORDIN,MAHUBHANA,17,male,078-246-3543,"4th str,Mbare National ,Harare",gordinmahubhana@gmail.com,21-06-2024,cash,Laptop,2,800,F
1017,PRIMROSE,MTETWA:,29,female,0781324356',"987 Zvenyika Str,Msasa Park,Harare",primrosemtetwa@gmail.com,28-05-2024,ecocash,Phone,3,500,FALSE
1018,HARRISON,CHINYU,20,male,078-536-7241,"897 Nehanda Str,Hatfield,Harare",harrisonchinyu@gmail.com,4/6/2024,cash,Tablet,1,300,T
1019,PHILLIP,LEMAR-,34,male,078-276-3820,"3th Str,Mbare national,Harare",philliplemar@gmail.com,18-06-2024,one money,Play station,5,40,TRUE
1020,PHILLIP,LEMAR-,34,male,078-276-3820,"3th Str,Mbare national,Harare",philliplemar@gmail.com,18-06-2024,one money,Play station,5,40,TRUE

In [7]:
# Viewing 20% of data randomly
customer_df.sample(frac = 0.2)

,First name,surname,age,Gender,Phone number,address,email address,Date,Payment method,Product name,Quantity,Price,Do not contact
CustomerId,,,,,,,,,,,,,
1016,GORDIN,MAHUBHANA,17,male,078-246-3543,"4th str,Mbare National ,Harare",gordinmahubhana@gmail.com,21-06-2024,cash,Laptop,2,800,F
1019,PHILLIP,LEMAR-,34,male,078-276-3820,"3th Str,Mbare national,Harare",philliplemar@gmail.com,18-06-2024,one money,Play station,5,40,TRUE
1012,MALCOM,MAHENYA,23,male,0716428617',"134 Cnr Robert & Rezende,CBD,Harare",malcommahenya@gmail.com,23-05-2024,cash,Phone,3,500,TRUE
1004,TRACY,$$MAHUBHANA,38,female,0736528179',"4512 Mushongandebvu,Mbare,Harare",tracymahubhana@gmail.com,26-05-2024,swipe,Book,5,20,F

In [8]:
# Checking the columns
customer_df.columns

Index(['First name', 'surname', 'age', 'Gender', 'Phone number', 'address',
       'email address', 'Date', 'Payment method', 'Product name', 'Quantity',
       'Price', 'Do not contact'],
      dtype='object')

In [9]:
# Checking the data types in each column
customer_df.dtypes

First name        object
surname           object
age                int64
Gender            object
Phone number      object
address           object
email address     object
Date              object
Payment method    object
Product name      object
Quantity           int64
Price              int64
Do not contact    object
dtype: object

In [10]:
# Getting an overview of the data
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 1001 to 1020
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   First name      20 non-null     object
 1   surname         20 non-null     object
 2   age             20 non-null     int64
 3   Gender          20 non-null     object
 4   Phone number    17 non-null     object
 5   address         19 non-null     object
 6   email address   20 non-null     object
 7   Date            20 non-null     object
 8   Payment method  20 non-null     object
 9   Product name    20 non-null     object
 10  Quantity        20 non-null     int64
 11  Price           20 non-null     int64
 12  Do not contact  20 non-null     object
dtypes: int64(3), object(10)
memory usage: 2.2+ KB

In [11]:
# Checking the presence of duplicated rows in the dataset
customer_df.loc[customer_df.duplicated(subset = ['First name','surname'])]

,First name,surname,age,Gender,Phone number,address,email address,Date,Payment method,Product name,Quantity,Price,Do not contact
CustomerId,,,,,,,,,,,,,
1020,PHILLIP,LEMAR-,34,male,078-276-3820,"3th Str,Mbare national,Harare",philliplemar@gmail.com,18-06-2024,one money,Play station,5,40,TRUE

In [12]:
# checking the presence of missing values in each columns and return the number of times missing values exist
customer_df.isna().sum()

First name        0
surname           0
age               0
Gender            0
Phone number      3
address           1
email address     0
Date              0
Payment method    0
Product name      0
Quantity          0
Price             0
Do not contact    0
dtype: int64

## Data Preparation and cleaning

In [14]:
print("dropping irrelevant columns\nrenaming columns\nhandling missing values\nupdating values in columns\nremoving errors in columns through stripping\nsplit the address column\nstandardize phone number column\nconverts date column")

dropping irrelevant columns
renaming columns
handling missing values
updating values in columns
removing errors in columns through stripping
split the address column
standardize phone number column
converts date column

 ## Note: The process will be done from the 1st column name to the last one in my dataset

In [16]:
customer_df.head()

,First name,surname,age,Gender,Phone number,address,email address,Date,Payment method,Product name,Quantity,Price,Do not contact
CustomerId,,,,,,,,,,,,,
1001,TREVOR,%MAHUBHANA_,23,male,0783640734',"54 CHAMIMUKA STR,MBARE,HARARE",trevormahubhana@gmail.com,5/6/2024,cash,Laptop,2,800,TRUE
1002,TERRENCE,#MAHUBHANA,19,mile,0713933587',"76 MASOTCHA STR,WATERFALL,HARARE",terrencemahubhana@yahoo.com,12/6/2024,ecocash,Phone,3,500,FALSE
1003,TRANOS,__MAHUBHANA!,17,M,0737816392',2031 3TH AVENUE,tranosmahubhana@gmail.com,19-06-2024,swipe,Tablet,1,300,T
1004,TRACY,$$MAHUBHANA,38,female,0736528179',"4512 Mushongandebvu,Mbare,Harare",tracymahubhana@gmail.com,26-05-2024,swipe,Book,5,20,F
1005,LUKE,123MAHUBHANA&,41,mile,NaN,"34 TONGOGARA STR,MT PLEASANT",lukemahubhana@gmail.com,5/6/2024,ecocash,Play station,2,40,TRUE

Dealing the column names

In [18]:
# Replacing white spaces with underscore in our columns
# And view if the changes are correct as required before commit
customer_df.columns.str.replace(" ","_")

Index(['First_name', 'surname', 'age', 'Gender', 'Phone_number', 'address',
       'email_address', 'Date', 'Payment_method', 'Product_name', 'Quantity',
       'Price', 'Do_not_contact'],
      dtype='object')

In [19]:
# Make the above changes permanent
customer_df.columns = customer_df.columns.str.replace(" ","_")

In [20]:
# Standardize the columns by capitalizing them all
# And view if the changes are correct as required before commit
customer_df.columns.str.capitalize()

Index(['First_name', 'Surname', 'Age', 'Gender', 'Phone_number', 'Address',
       'Email_address', 'Date', 'Payment_method', 'Product_name', 'Quantity',
       'Price', 'Do_not_contact'],
      dtype='object')

In [21]:
# Make the changes permanent
customer_df.columns = customer_df.columns.str.capitalize()

In [22]:
# View new format of the columns
customer_df.columns

Index(['First_name', 'Surname', 'Age', 'Gender', 'Phone_number', 'Address',
       'Email_address', 'Date', 'Payment_method', 'Product_name', 'Quantity',
       'Price', 'Do_not_contact'],
      dtype='object')

In [23]:
# Viewing the first 10 names from the column 'First_name'
customer_df['First_name'].head(10)

CustomerId
1001       TREVOR
1002     TERRENCE
1003       TRANOS
1004        TRACY
1005         LUKE
1006      WILFORD
1007      MARLVIN
1008         MARY
1009    SUE-MARIE
1010        DYLAN
Name: First_name, dtype: object

In [24]:
# Capitalize the names
# And view if the changes are correct as required before commit
customer_df.First_name.apply(lambda x : x.capitalize())

CustomerId
1001       Trevor
1002     Terrence
1003       Tranos
1004        Tracy
1005         Luke
1006      Wilford
1007      Marlvin
1008         Mary
1009    Sue-marie
1010        Dylan
1011        Elias
1012       Malcom
1013      Bridget
1014         Ruth
1015        Edwin
1016       Gordin
1017     Primrose
1018     Harrison
1019      Phillip
1020      Phillip
Name: First_name, dtype: object

In [25]:
# make the changes permanent
customer_df.First_name = customer_df.First_name.apply(lambda x : x.capitalize())

In [26]:
# View surnames to see area of interest
customer_df.Surname

CustomerId
1001      %MAHUBHANA_
1002       #MAHUBHANA
1003     __MAHUBHANA!
1004      $$MAHUBHANA
1005    123MAHUBHANA&
1006     @CHINYADZA__
1007            SOKO^
1008         $CHIDYA!
1009          SIGAUKE
1010            KONDO
1011          CHITATE
1012          MAHENYA
1013          SITHOLE
1014             SOFA
1015        MACHENYA%
1016        MAHUBHANA
1017          MTETWA:
1018           CHINYU
1019           LEMAR-
1020           LEMAR-
Name: Surname, dtype: object

In [27]:
# Remove all unexpected characters present in the column 'Surname'
# And view if the changes are correct as required before commit
customer_df.Surname.str.strip("!@#$%^&*_-:123")

CustomerId
1001    MAHUBHANA
1002    MAHUBHANA
1003    MAHUBHANA
1004    MAHUBHANA
1005    MAHUBHANA
1006    CHINYADZA
1007         SOKO
1008       CHIDYA
1009      SIGAUKE
1010        KONDO
1011      CHITATE
1012      MAHENYA
1013      SITHOLE
1014         SOFA
1015     MACHENYA
1016    MAHUBHANA
1017       MTETWA
1018       CHINYU
1019        LEMAR
1020        LEMAR
Name: Surname, dtype: object

In [28]:
# make the changes permanent
customer_df.Surname = customer_df.Surname.str.strip("!@#$%^&*_-:123")

In [29]:
# After removing unexpected characters , capitalize the names
# And view if the changes are correct as required before commit
customer_df.Surname.str.capitalize()

CustomerId
1001    Mahubhana
1002    Mahubhana
1003    Mahubhana
1004    Mahubhana
1005    Mahubhana
1006    Chinyadza
1007         Soko
1008       Chidya
1009      Sigauke
1010        Kondo
1011      Chitate
1012      Mahenya
1013      Sithole
1014         Sofa
1015     Machenya
1016    Mahubhana
1017       Mtetwa
1018       Chinyu
1019        Lemar
1020        Lemar
Name: Surname, dtype: object

In [30]:
# Make the changes permanent
customer_df.Surname = customer_df.Surname.str.capitalize()

In [31]:
# Check for the counts for each gender and see if there are errors
customer_df.Gender.value_counts()

Gender
male      11
female     5
mile       2
M          1
F          1
Name: count, dtype: int64

In [32]:
# Correct errors by replacing them with expected values 
# And view if the changes are correct as required before commit
customer_df.Gender.replace({'mile':'male','M':'male','F':'female'}).value_counts()

Gender
male      14
female     6
Name: count, dtype: int64

In [33]:
# Make the changes permanent
customer_df.Gender = customer_df.Gender.replace({'mile':'male','M':'male','F':'female'})

In [34]:
# Capitalize the values in the column 'Gender'
customer_df.Gender = customer_df.Gender.apply(lambda x : x.capitalize())

In [35]:
# View the values in the column 'Phone_number'
customer_df.Phone_number

CustomerId
1001     0783640734'
1002     0713933587'
1003     0737816392'
1004     0736528179'
1005             NaN
1006    077-879-2342
1007             NaN
1008     0777941355'
1009    078-098-4356
1010     0771324617'
1011    073-424-7153
1012     0716428617'
1013    0777-941-355
1014             NaN
1015    077-839-2836
1016    078-246-3543
1017     0781324356'
1018    078-536-7241
1019    078-276-3820
1020    078-276-3820
Name: Phone_number, dtype: object

In [36]:
# View rows with phone numbers only
# Need to contact the lucky customers afterwards  so rows with missing phone numbers are useless 
# Need to drop them all
# And view if the changes are correct as required before commit
customer_df.loc[customer_df.Phone_number.notna()]

,First_name,Surname,Age,Gender,Phone_number,Address,Email_address,Date,Payment_method,Product_name,Quantity,Price,Do_not_contact
CustomerId,,,,,,,,,,,,,
1001,Trevor,Mahubhana,23,Male,0783640734',"54 CHAMIMUKA STR,MBARE,HARARE",trevormahubhana@gmail.com,5/6/2024,cash,Laptop,2,800,TRUE
1002,Terrence,Mahubhana,19,Male,0713933587',"76 MASOTCHA STR,WATERFALL,HARARE",terrencemahubhana@yahoo.com,12/6/2024,ecocash,Phone,3,500,FALSE
1003,Tranos,Mahubhana,17,Male,0737816392',2031 3TH AVENUE,tranosmahubhana@gmail.com,19-06-2024,swipe,Tablet,1,300,T
1004,Tracy,Mahubhana,38,Female,0736528179',"4512 Mushongandebvu,Mbare,Harare",tracymahubhana@gmail.com,26-05-2024,swipe,Book,5,20,F
1006,Wilford,Chinyadza,26,Male,077-879-2342,"345 DR PLEASANT,MT PLEASANT,HARARE",wilfordchinyadza@gmail.com,12/5/2024,cash,Laptop,2,800,FALSE
1008,Mary,Chidya,18,Female,0777941355',"245 HARARE STR,CBD,HARARE",marychidya@gmail.com,26-05-2024,cash,Tablet,1,300,F
1009,Sue-marie,Sigauke,21,Female,078-098-4356,NaN,sue-mariesigauke@gmail.com,2/5/2024,ecocash,Book,5,20,FALSE
1010,Dylan,Kondo,21,Male,0771324617',"87 Masotcha Str,Chisipiti,Harare",dylankondo@gmail.com,9/6/2024,ecocash,Play station,2,40,F
1011,Elias,Chitate,24,Male,073-424-7153,"62 Tongogara Str,Tywald,Harare",eliaschitate@gmail.com,16-06-2024,one money,Laptop,2,800,TRUE
1012,Malcom,Mahenya,23,Male,0716428617',"134 Cnr Robert & Rezende,CBD,Harare",malcommahenya@gmail.com,23-05-2024,cash,Phone,3,500,TRUE
1013,Bridget,Sithole,45,Female,0777-941-355,"6 Harare Str,Marlbrough,Harare",bridgetsithole@gmail.com,30-05-2024,one money,Tablet,1,300,F
1015,Edwin,Machenya,18,Male,077-839-2836,"Charter Str,Highlands,Harare",edwin@gmail.com,14-05-2024,cash,Play station,2,40,FALSE
1016,Gordin,Mahubhana,17,Male,078-246-3543,"4th str,Mbare National ,Harare",gordinmahubhana@gmail.com,21-06-2024,cash,Laptop,2,800,F
1017,Primrose,Mtetwa,29,Female,0781324356',"987 Zvenyika Str,Msasa Park,Harare",primrosemtetwa@gmail.com,28-05-2024,ecocash,Phone,3,500,FALSE
1018,Harrison,Chinyu,20,Male,078-536-7241,"897 Nehanda Str,Hatfield,Harare",harrisonchinyu@gmail.com,4/6/2024,cash,Tablet,1,300,T
1019,Phillip,Lemar,34,Male,078-276-3820,"3th Str,Mbare national,Harare",philliplemar@gmail.com,18-06-2024,one money,Play station,5,40,TRUE
1020,Phillip,Lemar,34,Male,078-276-3820,"3th Str,Mbare national,Harare",philliplemar@gmail.com,18-06-2024,one money,Play station,5,40,TRUE

In [37]:
# Make the changes permanent
customer_df = customer_df.loc[customer_df.Phone_number.notna()]

In [38]:
# View possible winners , check where we are and the remaining areas of interest
customer_df

,First_name,Surname,Age,Gender,Phone_number,Address,Email_address,Date,Payment_method,Product_name,Quantity,Price,Do_not_contact
CustomerId,,,,,,,,,,,,,
1001,Trevor,Mahubhana,23,Male,0783640734',"54 CHAMIMUKA STR,MBARE,HARARE",trevormahubhana@gmail.com,5/6/2024,cash,Laptop,2,800,TRUE
1002,Terrence,Mahubhana,19,Male,0713933587',"76 MASOTCHA STR,WATERFALL,HARARE",terrencemahubhana@yahoo.com,12/6/2024,ecocash,Phone,3,500,FALSE
1003,Tranos,Mahubhana,17,Male,0737816392',2031 3TH AVENUE,tranosmahubhana@gmail.com,19-06-2024,swipe,Tablet,1,300,T
1004,Tracy,Mahubhana,38,Female,0736528179',"4512 Mushongandebvu,Mbare,Harare",tracymahubhana@gmail.com,26-05-2024,swipe,Book,5,20,F
1006,Wilford,Chinyadza,26,Male,077-879-2342,"345 DR PLEASANT,MT PLEASANT,HARARE",wilfordchinyadza@gmail.com,12/5/2024,cash,Laptop,2,800,FALSE
1008,Mary,Chidya,18,Female,0777941355',"245 HARARE STR,CBD,HARARE",marychidya@gmail.com,26-05-2024,cash,Tablet,1,300,F
1009,Sue-marie,Sigauke,21,Female,078-098-4356,NaN,sue-mariesigauke@gmail.com,2/5/2024,ecocash,Book,5,20,FALSE
1010,Dylan,Kondo,21,Male,0771324617',"87 Masotcha Str,Chisipiti,Harare",dylankondo@gmail.com,9/6/2024,ecocash,Play station,2,40,F
1011,Elias,Chitate,24,Male,073-424-7153,"62 Tongogara Str,Tywald,Harare",eliaschitate@gmail.com,16-06-2024,one money,Laptop,2,800,TRUE
1012,Malcom,Mahenya,23,Male,0716428617',"134 Cnr Robert & Rezende,CBD,Harare",malcommahenya@gmail.com,23-05-2024,cash,Phone,3,500,TRUE
1013,Bridget,Sithole,45,Female,0777-941-355,"6 Harare Str,Marlbrough,Harare",bridgetsithole@gmail.com,30-05-2024,one money,Tablet,1,300,F
1015,Edwin,Machenya,18,Male,077-839-2836,"Charter Str,Highlands,Harare",edwin@gmail.com,14-05-2024,cash,Play station,2,40,FALSE
1016,Gordin,Mahubhana,17,Male,078-246-3543,"4th str,Mbare National ,Harare",gordinmahubhana@gmail.com,21-06-2024,cash,Laptop,2,800,F
1017,Primrose,Mtetwa,29,Female,0781324356',"987 Zvenyika Str,Msasa Park,Harare",primrosemtetwa@gmail.com,28-05-2024,ecocash,Phone,3,500,FALSE
1018,Harrison,Chinyu,20,Male,078-536-7241,"897 Nehanda Str,Hatfield,Harare",harrisonchinyu@gmail.com,4/6/2024,cash,Tablet,1,300,T
1019,Phillip,Lemar,34,Male,078-276-3820,"3th Str,Mbare national,Harare",philliplemar@gmail.com,18-06-2024,one money,Play station,5,40,TRUE
1020,Phillip,Lemar,34,Male,078-276-3820,"3th Str,Mbare national,Harare",philliplemar@gmail.com,18-06-2024,one money,Play station,5,40,TRUE

In [39]:
# Replace "-" with white space
# And view if the changes are correct as required before commit
customer_df.Phone_number.str.replace("-","")

CustomerId
1001    0783640734'
1002    0713933587'
1003    0737816392'
1004    0736528179'
1006     0778792342
1008    0777941355'
1009     0780984356
1010    0771324617'
1011     0734247153
1012    0716428617'
1013     0777941355
1015     0778392836
1016     0782463543
1017    0781324356'
1018     0785367241
1019     0782763820
1020     0782763820
Name: Phone_number, dtype: object

In [40]:
# Make the changes permanent
customer_df.Phone_number = customer_df.Phone_number.str.replace("-","")

In [41]:
# Apply lambda function to maintain the standards of phone numbers
# Make them interactive when the Call Desk make calls
# And view if the changes are correct as required before commit
customer_df.Phone_number.apply(lambda x : x[0:3] + "-" + x[3:6] + "-" + x[6:10])

CustomerId
1001    078-364-0734
1002    071-393-3587
1003    073-781-6392
1004    073-652-8179
1006    077-879-2342
1008    077-794-1355
1009    078-098-4356
1010    077-132-4617
1011    073-424-7153
1012    071-642-8617
1013    077-794-1355
1015    077-839-2836
1016    078-246-3543
1017    078-132-4356
1018    078-536-7241
1019    078-276-3820
1020    078-276-3820
Name: Phone_number, dtype: object

In [42]:
# Make the changes permanent
customer_df.Phone_number = customer_df.Phone_number.apply(lambda x : x[0:3] + "-" + x[3:6] + "-" + x[6:10])

In [43]:
# Checking rows with duplicated values on " First_name ,Surname and Phone_number"
customer_df.loc[customer_df.duplicated(subset=['First_name','Surname','Phone_number'])]

,First_name,Surname,Age,Gender,Phone_number,Address,Email_address,Date,Payment_method,Product_name,Quantity,Price,Do_not_contact
CustomerId,,,,,,,,,,,,,
1020,Phillip,Lemar,34,Male,078-276-3820,"3th Str,Mbare national,Harare",philliplemar@gmail.com,18-06-2024,one money,Play station,5,40,TRUE

In [44]:

# Rows with unique values in all remaining columns
# And view if the changes are correct as required before commut
customer_df.loc[~customer_df.duplicated(subset=['First_name','Surname','Phone_number'])]

,First_name,Surname,Age,Gender,Phone_number,Address,Email_address,Date,Payment_method,Product_name,Quantity,Price,Do_not_contact
CustomerId,,,,,,,,,,,,,
1001,Trevor,Mahubhana,23,Male,078-364-0734,"54 CHAMIMUKA STR,MBARE,HARARE",trevormahubhana@gmail.com,5/6/2024,cash,Laptop,2,800,TRUE
1002,Terrence,Mahubhana,19,Male,071-393-3587,"76 MASOTCHA STR,WATERFALL,HARARE",terrencemahubhana@yahoo.com,12/6/2024,ecocash,Phone,3,500,FALSE
1003,Tranos,Mahubhana,17,Male,073-781-6392,2031 3TH AVENUE,tranosmahubhana@gmail.com,19-06-2024,swipe,Tablet,1,300,T
1004,Tracy,Mahubhana,38,Female,073-652-8179,"4512 Mushongandebvu,Mbare,Harare",tracymahubhana@gmail.com,26-05-2024,swipe,Book,5,20,F
1006,Wilford,Chinyadza,26,Male,077-879-2342,"345 DR PLEASANT,MT PLEASANT,HARARE",wilfordchinyadza@gmail.com,12/5/2024,cash,Laptop,2,800,FALSE
1008,Mary,Chidya,18,Female,077-794-1355,"245 HARARE STR,CBD,HARARE",marychidya@gmail.com,26-05-2024,cash,Tablet,1,300,F
1009,Sue-marie,Sigauke,21,Female,078-098-4356,NaN,sue-mariesigauke@gmail.com,2/5/2024,ecocash,Book,5,20,FALSE
1010,Dylan,Kondo,21,Male,077-132-4617,"87 Masotcha Str,Chisipiti,Harare",dylankondo@gmail.com,9/6/2024,ecocash,Play station,2,40,F
1011,Elias,Chitate,24,Male,073-424-7153,"62 Tongogara Str,Tywald,Harare",eliaschitate@gmail.com,16-06-2024,one money,Laptop,2,800,TRUE
1012,Malcom,Mahenya,23,Male,071-642-8617,"134 Cnr Robert & Rezende,CBD,Harare",malcommahenya@gmail.com,23-05-2024,cash,Phone,3,500,TRUE
1013,Bridget,Sithole,45,Female,077-794-1355,"6 Harare Str,Marlbrough,Harare",bridgetsithole@gmail.com,30-05-2024,one money,Tablet,1,300,F
1015,Edwin,Machenya,18,Male,077-839-2836,"Charter Str,Highlands,Harare",edwin@gmail.com,14-05-2024,cash,Play station,2,40,FALSE
1016,Gordin,Mahubhana,17,Male,078-246-3543,"4th str,Mbare National ,Harare",gordinmahubhana@gmail.com,21-06-2024,cash,Laptop,2,800,F
1017,Primrose,Mtetwa,29,Female,078-132-4356,"987 Zvenyika Str,Msasa Park,Harare",primrosemtetwa@gmail.com,28-05-2024,ecocash,Phone,3,500,FALSE
1018,Harrison,Chinyu,20,Male,078-536-7241,"897 Nehanda Str,Hatfield,Harare",harrisonchinyu@gmail.com,4/6/2024,cash,Tablet,1,300,T
1019,Phillip,Lemar,34,Male,078-276-3820,"3th Str,Mbare national,Harare",philliplemar@gmail.com,18-06-2024,one money,Play station,5,40,TRUE

In [45]:
# Make the changes permanent
customer_df = customer_df.loc[~customer_df.duplicated(subset=['First_name','Surname','Phone_number'])]

In [46]:
# View the 'Address' column 
# Surprisingly the address column contains street name,location and city/town
# Need to split it
customer_df.Address

CustomerId
1001          54 CHAMIMUKA STR,MBARE,HARARE
1002      76 MASOTCHA  STR,WATERFALL,HARARE
1003                        2031 3TH AVENUE
1004       4512 Mushongandebvu,Mbare,Harare
1006     345 DR PLEASANT,MT PLEASANT,HARARE
1008              245 HARARE STR,CBD,HARARE
1009                                    NaN
1010       87 Masotcha Str,Chisipiti,Harare
1011         62 Tongogara Str,Tywald,Harare
1012    134 Cnr Robert & Rezende,CBD,Harare
1013         6 Harare Str,Marlbrough,Harare
1015           Charter Str,Highlands,Harare
1016         4th str,Mbare National ,Harare
1017     987 Zvenyika Str,Msasa Park,Harare
1018        897 Nehanda Str,Hatfield,Harare
1019          3th Str,Mbare national,Harare
Name: Address, dtype: object

In [47]:
# View rows with missing address
customer_df.loc[customer_df.Address.isnull()]

,First_name,Surname,Age,Gender,Phone_number,Address,Email_address,Date,Payment_method,Product_name,Quantity,Price,Do_not_contact
CustomerId,,,,,,,,,,,,,
1009,Sue-marie,Sigauke,21,Female,078-098-4356,NaN,sue-mariesigauke@gmail.com,2/5/2024,ecocash,Book,5,20,FALSE

In [48]:
# Drop rows with missing address since address is a priority for promotion gift delivery 
# Make the changes permanent
customer_df = customer_df.loc[~customer_df.Address.isnull()]

In [49]:
# Split the address column
# View if the changes are correct as required before commit
# And by default it creates dumpy columns
customer_df.Address.str.split(",",expand = True)

                                   0                1       2
CustomerId
1001                54 CHAMIMUKA STR            MBARE  HARARE
1002                76 MASOTCHA  STR        WATERFALL  HARARE
1003                 2031 3TH AVENUE             None    None
1004             4512 Mushongandebvu            Mbare  Harare
1006                 345 DR PLEASANT      MT PLEASANT  HARARE
1008                  245 HARARE STR              CBD  HARARE
1010                 87 Masotcha Str        Chisipiti  Harare
1011                62 Tongogara Str           Tywald  Harare
1012        134 Cnr Robert & Rezende              CBD  Harare
1013                    6 Harare Str       Marlbrough  Harare
1015                     Charter Str        Highlands  Harare
1016                         4th str  Mbare National   Harare
1017                987 Zvenyika Str       Msasa Park  Harare
1018                 897 Nehanda Str         Hatfield  Harare
1019                         3th Str   Mbare national  Harare

In [50]:
# Accessing details of a customer at 2nd position to see if there is a full address
customer_df.iloc[2]

First_name                           Tranos
Surname                           Mahubhana
Age                                      17
Gender                                 Male
Phone_number                   073-781-6392
Address                     2031 3TH AVENUE
Email_address     tranosmahubhana@gmail.com
Date                             19-06-2024
Payment_method                        swipe
Product_name                         Tablet
Quantity                                  1
Price                                   300
Do_not_contact                            T
Name: 1003, dtype: object

In [51]:
#  Adding new columns by splitting the 'Address' to make the 'Street_name','Location','Town/City'
# Make changes permanent
customer_df[['Street_name','Location','Town/City']] = customer_df.Address.str.split(",",expand = True)

In [52]:
# View and check if the new columns are present
# And a sample of about 50% is viewed
customer_df.sample(frac = 0.5)

,First_name,Surname,Age,Gender,Phone_number,Address,Email_address,Date,Payment_method,Product_name,Quantity,Price,Do_not_contact,Street_name,Location,Town/City
CustomerId,,,,,,,,,,,,,,,,
1019,Phillip,Lemar,34,Male,078-276-3820,"3th Str,Mbare national,Harare",philliplemar@gmail.com,18-06-2024,one money,Play station,5,40,TRUE,3th Str,Mbare national,Harare
1015,Edwin,Machenya,18,Male,077-839-2836,"Charter Str,Highlands,Harare",edwin@gmail.com,14-05-2024,cash,Play station,2,40,FALSE,Charter Str,Highlands,Harare
1017,Primrose,Mtetwa,29,Female,078-132-4356,"987 Zvenyika Str,Msasa Park,Harare",primrosemtetwa@gmail.com,28-05-2024,ecocash,Phone,3,500,FALSE,987 Zvenyika Str,Msasa Park,Harare
1012,Malcom,Mahenya,23,Male,071-642-8617,"134 Cnr Robert & Rezende,CBD,Harare",malcommahenya@gmail.com,23-05-2024,cash,Phone,3,500,TRUE,134 Cnr Robert & Rezende,CBD,Harare
1018,Harrison,Chinyu,20,Male,078-536-7241,"897 Nehanda Str,Hatfield,Harare",harrisonchinyu@gmail.com,4/6/2024,cash,Tablet,1,300,T,897 Nehanda Str,Hatfield,Harare
1010,Dylan,Kondo,21,Male,077-132-4617,"87 Masotcha Str,Chisipiti,Harare",dylankondo@gmail.com,9/6/2024,ecocash,Play station,2,40,F,87 Masotcha Str,Chisipiti,Harare
1013,Bridget,Sithole,45,Female,077-794-1355,"6 Harare Str,Marlbrough,Harare",bridgetsithole@gmail.com,30-05-2024,one money,Tablet,1,300,F,6 Harare Str,Marlbrough,Harare
1002,Terrence,Mahubhana,19,Male,071-393-3587,"76 MASOTCHA STR,WATERFALL,HARARE",terrencemahubhana@yahoo.com,12/6/2024,ecocash,Phone,3,500,FALSE,76 MASOTCHA STR,WATERFALL,HARARE

In [53]:
# Capitalize the new columns 
# Make the changes permanent

customer_df['Street_name'] = customer_df['Street_name'].str.capitalize()
customer_df['Town/City'] = customer_df['Town/City'].apply(lambda x: str(x).capitalize())
customer_df['Location'] = [str(x).capitalize() for x in customer_df['Location']]

In [54]:
# Drop the "Address" column
# And save the changes
customer_df.drop(columns = ['Address'],inplace=True)

In [55]:
# View the "Date" column and check if it's in good format 
customer_df.Date

CustomerId
1001      5/6/2024
1002     12/6/2024
1003    19-06-2024
1004    26-05-2024
1006     12/5/2024
1008    26-05-2024
1010      9/6/2024
1011    16-06-2024
1012    23-05-2024
1013    30-05-2024
1015    14-05-2024
1016    21-06-2024
1017    28-05-2024
1018      4/6/2024
1019    18-06-2024
Name: Date, dtype: object

In [56]:
# Change the data type of 'Date' to datetime
# Specify the format and handle errors
pd.to_datetime(customer_df.Date,format = 'mixed',errors = 'coerce')

CustomerId
1001   2024-05-06
1002   2024-12-06
1003   2024-06-19
1004   2024-05-26
1006   2024-12-05
1008   2024-05-26
1010   2024-09-06
1011   2024-06-16
1012   2024-05-23
1013   2024-05-30
1015   2024-05-14
1016   2024-06-21
1017   2024-05-28
1018   2024-04-06
1019   2024-06-18
Name: Date, dtype: datetime64[ns]

In [57]:
customer_df.Date = pd.to_datetime(customer_df.Date,format = 'mixed',errors = 'coerce')

In [58]:
# Check the unique values of 'Payment_method'
customer_df.Payment_method.unique()

array(['cash', 'ecocash', 'swipe', 'one money'], dtype=object)

In [59]:
# Capitalize the Payment method
# And view if the changes are correct as required before commit
[x.capitalize() for x in customer_df.Payment_method]

['Cash',
 'Ecocash',
 'Swipe',
 'Swipe',
 'Cash',
 'Cash',
 'Ecocash',
 'One money',
 'Cash',
 'One money',
 'Cash',
 'Cash',
 'Ecocash',
 'Cash',
 'One money']

In [60]:
# make the changes permanent
customer_df.Payment_method = [x.capitalize() for x in customer_df.Payment_method]

In [61]:
customer_df.Product_name.unique()

array(['Laptop', 'Phone', 'Tablet', 'Book', 'Play station'], dtype=object)

In [62]:
customer_df.columns

Index(['First_name', 'Surname', 'Age', 'Gender', 'Phone_number',
       'Email_address', 'Date', 'Payment_method', 'Product_name', 'Quantity',
       'Price', 'Do_not_contact', 'Street_name', 'Location', 'Town/City'],
      dtype='object')

In [63]:
customer_df.Do_not_contact.unique()

array(['TRUE', 'FALSE', 'T', 'F'], dtype=object)

In [64]:
# standardize the 'Do_not_contact' column 
# By replacing 'F' with 'False'
# By replacing 'T' with 'True'

# Option 1
customer_df.Do_not_contact.replace({'TRUE':True,'FALSE':False,'T':True,'F':True})

# Option 2
#customer_df.Do_not_contact.replace({'F':False,'T':True})

# change the data type to boolen
# customer_df.Do_not_contact = customer_df.Do_not_contact.astype('bool')

CustomerId
1001     True
1002    False
1003     True
1004     True
1006    False
1008     True
1010     True
1011     True
1012     True
1013     True
1015    False
1016     True
1017    False
1018     True
1019     True
Name: Do_not_contact, dtype: bool

In [65]:
# make the changes permanent
customer_df.Do_not_contact = customer_df.Do_not_contact.replace({'TRUE':True,'T':True,'FALSE':False,'F':False})

In [66]:
#Responses per each category
customer_df.Do_not_contact.value_counts()

Do_not_contact
False    9
True     6
Name: count, dtype: int64

In [67]:
customer_df.Do_not_contact

CustomerId
1001     True
1002    False
1003     True
1004    False
1006    False
1008    False
1010    False
1011     True
1012     True
1013    False
1015    False
1016    False
1017    False
1018     True
1019     True
Name: Do_not_contact, dtype: bool

In [68]:
customer_df[['Street_name','Location','Town/City']]

                         Street_name         Location Town/City
CustomerId
1001                54 chamimuka str            Mbare    Harare
1002                76 masotcha  str        Waterfall    Harare
1003                 2031 3th avenue             None      None
1004             4512 mushongandebvu            Mbare    Harare
1006                 345 dr pleasant      Mt pleasant    Harare
1008                  245 harare str              Cbd    Harare
1010                 87 masotcha str        Chisipiti    Harare
1011                62 tongogara str           Tywald    Harare
1012        134 cnr robert & rezende              Cbd    Harare
1013                    6 harare str       Marlbrough    Harare
1015                     charter str        Highlands    Harare
1016                         4th str  Mbare national     Harare
1017                987 zvenyika str       Msasa park    Harare
1018                 897 nehanda str         Hatfield    Harare
1019                         3th str   Mbare national    Harare

In [69]:
# Checking the location and Town/City of a customer with customerid : 10003
customer_df.loc[1003,['Location','Town/City']]

Location     None
Town/City    None
Name: 1003, dtype: object

In [70]:
# make the none to blank for completeness
customer_df.loc[1003,['Location','Town/City']] = ['','']

In [71]:
# Calls should not be made to customers who answered "True" to the column "Do_not_contact"
# Make  a filter to see the rows with customers wwo answered "True" to the column "Do_not_contact"
customer_df[customer_df['Do_not_contact'] == True]

,First_name,Surname,Age,Gender,Phone_number,Email_address,Date,Payment_method,Product_name,Quantity,Price,Do_not_contact,Street_name,Location,Town/City
CustomerId,,,,,,,,,,,,,,,
1001,Trevor,Mahubhana,23,Male,078-364-0734,trevormahubhana@gmail.com,2024-05-06,Cash,Laptop,2,800,True,54 chamimuka str,Mbare,Harare
1003,Tranos,Mahubhana,17,Male,073-781-6392,tranosmahubhana@gmail.com,2024-06-19,Swipe,Tablet,1,300,True,2031 3th avenue,,
1011,Elias,Chitate,24,Male,073-424-7153,eliaschitate@gmail.com,2024-06-16,One money,Laptop,2,800,True,62 tongogara str,Tywald,Harare
1012,Malcom,Mahenya,23,Male,071-642-8617,malcommahenya@gmail.com,2024-05-23,Cash,Phone,3,500,True,134 cnr robert & rezende,Cbd,Harare
1018,Harrison,Chinyu,20,Male,078-536-7241,harrisonchinyu@gmail.com,2024-04-06,Cash,Tablet,1,300,True,897 nehanda str,Hatfield,Harare
1019,Phillip,Lemar,34,Male,078-276-3820,philliplemar@gmail.com,2024-06-18,One money,Play station,5,40,True,3th str,Mbare national,Harare

In [72]:
# Check rows with customers who answered "False" to the column "Do_not_contact"
# And view if the changes are correct as required before commit
customer_df[~customer_df['Do_not_contact'] == True]

,First_name,Surname,Age,Gender,Phone_number,Email_address,Date,Payment_method,Product_name,Quantity,Price,Do_not_contact,Street_name,Location,Town/City
CustomerId,,,,,,,,,,,,,,,
1002,Terrence,Mahubhana,19,Male,071-393-3587,terrencemahubhana@yahoo.com,2024-12-06,Ecocash,Phone,3,500,False,76 masotcha str,Waterfall,Harare
1004,Tracy,Mahubhana,38,Female,073-652-8179,tracymahubhana@gmail.com,2024-05-26,Swipe,Book,5,20,False,4512 mushongandebvu,Mbare,Harare
1006,Wilford,Chinyadza,26,Male,077-879-2342,wilfordchinyadza@gmail.com,2024-12-05,Cash,Laptop,2,800,False,345 dr pleasant,Mt pleasant,Harare
1008,Mary,Chidya,18,Female,077-794-1355,marychidya@gmail.com,2024-05-26,Cash,Tablet,1,300,False,245 harare str,Cbd,Harare
1010,Dylan,Kondo,21,Male,077-132-4617,dylankondo@gmail.com,2024-09-06,Ecocash,Play station,2,40,False,87 masotcha str,Chisipiti,Harare
1013,Bridget,Sithole,45,Female,077-794-1355,bridgetsithole@gmail.com,2024-05-30,One money,Tablet,1,300,False,6 harare str,Marlbrough,Harare
1015,Edwin,Machenya,18,Male,077-839-2836,edwin@gmail.com,2024-05-14,Cash,Play station,2,40,False,charter str,Highlands,Harare
1016,Gordin,Mahubhana,17,Male,078-246-3543,gordinmahubhana@gmail.com,2024-06-21,Cash,Laptop,2,800,False,4th str,Mbare national,Harare
1017,Primrose,Mtetwa,29,Female,078-132-4356,primrosemtetwa@gmail.com,2024-05-28,Ecocash,Phone,3,500,False,987 zvenyika str,Msasa park,Harare

In [73]:
# Commit to changes
final_ipynb = customer_df[~customer_df['Do_not_contact'] == True]

In [74]:
# Lucky customers
final_ipynb

,First_name,Surname,Age,Gender,Phone_number,Email_address,Date,Payment_method,Product_name,Quantity,Price,Do_not_contact,Street_name,Location,Town/City
CustomerId,,,,,,,,,,,,,,,
1002,Terrence,Mahubhana,19,Male,071-393-3587,terrencemahubhana@yahoo.com,2024-12-06,Ecocash,Phone,3,500,False,76 masotcha str,Waterfall,Harare
1004,Tracy,Mahubhana,38,Female,073-652-8179,tracymahubhana@gmail.com,2024-05-26,Swipe,Book,5,20,False,4512 mushongandebvu,Mbare,Harare
1006,Wilford,Chinyadza,26,Male,077-879-2342,wilfordchinyadza@gmail.com,2024-12-05,Cash,Laptop,2,800,False,345 dr pleasant,Mt pleasant,Harare
1008,Mary,Chidya,18,Female,077-794-1355,marychidya@gmail.com,2024-05-26,Cash,Tablet,1,300,False,245 harare str,Cbd,Harare
1010,Dylan,Kondo,21,Male,077-132-4617,dylankondo@gmail.com,2024-09-06,Ecocash,Play station,2,40,False,87 masotcha str,Chisipiti,Harare
1013,Bridget,Sithole,45,Female,077-794-1355,bridgetsithole@gmail.com,2024-05-30,One money,Tablet,1,300,False,6 harare str,Marlbrough,Harare
1015,Edwin,Machenya,18,Male,077-839-2836,edwin@gmail.com,2024-05-14,Cash,Play station,2,40,False,charter str,Highlands,Harare
1016,Gordin,Mahubhana,17,Male,078-246-3543,gordinmahubhana@gmail.com,2024-06-21,Cash,Laptop,2,800,False,4th str,Mbare national,Harare
1017,Primrose,Mtetwa,29,Female,078-132-4356,primrosemtetwa@gmail.com,2024-05-28,Ecocash,Phone,3,500,False,987 zvenyika str,Msasa park,Harare

In [75]:
# Save the solution to excel file for submisson to the Call Desk
final_ipynb.to_excel(r"C:\Users\MALCOM_TREVOR\Desktop\DATA SCIENCE\MY PROJECT\data preprocessing _and_cleaning\customer-on-promotion\solution\Lucky customers.xlsx",sheet_name = 'lucky-customer',index = False)

In [76]:
# Save the solution to csv file for submisson to the Call Desk
final_ipynb.to_csv(r"C:\Users\MALCOM_TREVOR\Desktop\DATA SCIENCE\MY PROJECT\data preprocessing _and_cleaning\customer-on-promotion\solution\Lucky customers.csv",index = False)